@model List<Employee>
@{
    ViewData["Title"] = "Сотрудники";
}
<div class="container text-center">
    <div class="row">
        <h2 class="title">Сотрудники</h2>
    </div>
    <div class="row">
        <!-- Кнопка вызова модального окна -->
        <button type="button" class="btn btn-primary btn-create" data-bs-toggle="modal" onclick="createEmployee()">
            Добавить запись
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="createEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Удаление записи:</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ф.И.О. сотрудника</th>
                        <th scope="col">Контакты</th>
                        <th scope="col">Специальность</th>
                        <th scope="col">Дата приема</th>
                        <th scope="col">Дата увольнения</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumberEmployee</td>
                            <td>@item.Specialization</td>
                            <td>@item.EmploymentDate.ToString("d")</td>
                            <td>@item.DismissalDate.ToString("d")</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-create btn-editdel" data-bs-toggle="modal" onclick="createEmployee(@item.EmployeeId)">
                                    Изменить
                                </button>
                            </td>
                            <td>

                                <button type="button" class="btn btn-primary btn-create btn-editdel" data-bs-toggle="modal" onclick="deleteEmployee(@item.EmployeeId)">
                                    Удалить
                                </button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    @section scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            function deleteEmployee(employeeId) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetEmployeeForDelete", "Employee")',
                    data: { id: employeeId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#deleteModal").find(".modal-body").html(response);
                        $("#deleteModal").modal('show');
                    }
                })
            }

            function createEmployee(employeeId) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("CreateOrEditEmployee", "Employee")',
                    data: { id: employeeId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        if (employeeId) {
                            $("#createEmployeeModal").find(".modal-header").html('<h4 class="modal-title" id="exampleModalLabel">Для изменения записи заполните поля:</h4>');
                        }
                        else {
                            $("#createEmployeeModal").find(".modal-header").html('<h4 class="modal-title" id="exampleModalLabel">Для добавления записи заполните поля:</h4>');
                        }

                        $("#createEmployeeModal").find(".modal-body").html(response);
                        $("#createEmployeeModal").modal('show');
                    }
                })
            }
        </script>
    }
