@model List<FieldPlanting>

@{
    ViewData["Title"] = "Поля";
}

<div class="container text-center">
    <div class="row">
        <h2 class="title">Поля</h2>
    </div>
    <div class="row">
       @*  <p>
            <a asp-action="CreateField">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Добавить запись
                </button>
            </a>
        </p> *@
      
        <!-- Кнопка вызова модального окна -->
        <button type="button" class="btn btn-primary btn-create" onclick="createField()">
            Добавить запись
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="createFieldModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Удаление записи:</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        
    <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Площадь поля</th>
                <th scope="col">Расположение поля</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FieldArea</td>
                    <td>@item.FieldAddress</td>
                        <td>
                                <button type="button" class="btn btn-primary btn-create btn-ref" style="width: 60%" data-bs-toggle="modal" onclick="createField(@item.FieldId)">
                                Изменить
                            </button>
                        </td>
                        <td>

                                <button type="button" class="btn btn-primary btn-create btn-ref" style="width: 60%" data-bs-toggle="modal" onclick="deleteField(@item.FieldId)">
                                Удалить
                            </button>

                        </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    </div>

@section scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
         }
                <script>
                function createField(fieldId) {
                        $.ajax({
                            type: "GET",
                url: '@Url.Action("CreateOrEditField", "Reference")',
                            data: { id: fieldId },
                            contentType: "application/json; charset=utf-8",
                            dataType: "html",
                            success: function (response) {
                        if (fieldId) {
                        $("#createFieldModal").find(".modal-header").html('<h4 class="modal-title" id="exampleModalLabel">Для изменения записи заполните поля:</h4>');
                    }
                    else {
                        $("#createFieldModal").find(".modal-header").html('<h4 class="modal-title" id="exampleModalLabel">Для добавления записи заполните поля:</h4>');
                    }
                    $("#createFieldModal").find(".modal-body").html(response);
                    $("#createFieldModal").modal('show');
                            }
                        })
                    }

        function deleteField(fieldId) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetFieldForDelete", "Reference")',
                    data: { id: fieldId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#deleteModal").find(".modal-body").html(response);
                    $("#deleteModal").modal('show');
                }
            })
        }
                </script>

   }
